.ram2{
    margin-top: 40px;
}
.ram22{
   text-align: center;
   font-size: 60px;
}
.ram23{
    text-align: center;
    font-size: 20px;
}
.ram3{
    margin-top: 40px;
}
.ram41{
    margin-top: 220px;
    margin-left: 20px;
}
.ram42{
    margin-left: 20px;
}
.ram51{
    margin-top: 220px;
    margin-left: 20px;
}
.ram52{
    margin-left: 20px;
}
.ram61{
    margin-top: 220px;
    margin-left: 20px;
}
.ram62{
    margin-left: 20px;
}
.ram81{
    margin-top: 220px;
    margin-left: 20px;
}
.ram82{
    margin-left: 20px;
}
.ram91{
    margin-top: 220px;
    margin-left: 20px;
}
.ram92{
    margin-left: 20px;
}
.ram101{
    margin-top: 220px;
    margin-left: 20px;
}
.ram102{
    margin-left: 20px;
}
.ram7{
    margin-top: 50px;
}

/* ===========vot============= */

.vot3{
    margin-top: 40px;
}
.vot4{
    margin-bottom: 75px;
}
.vot41{
    margin-top: 220px;
    margin-left: 20px;
}
.vot42{
    margin-left: 20px;
}
.vot5{
    margin-bottom: 75px;
}
.vot51{
    margin-top: 220px;
    margin-left: 20px;
}
.vot52{
    margin-left: 20px;
}
.vot6{
    margin-bottom: 75px;
}
.vot61{
    margin-top: 220px;
    margin-left: 20px;
}
.vot62{
    margin-left: 20px;
}