
.pop{
    background-color: rgb(231, 241, 241);
}
.pop2{
    margin-top: 70px;
    margin-bottom: 70px;
}
.pop3{
    width: 100%;
}
.pop4{
    margin-top: 70px;
    margin-bottom: 70px;
}
.pop41{
    margin-left: 50px;
}
.pop42{
    margin-left: 50px;
}
.pop43{
    margin-left: 50px;
    margin-top: 20px;
}
.pop44{
    margin-left: 50px;
}
.pop45{
    margin-left: 50px;
    margin-top: 18px;
}
.pop46{
    margin-top: 25px;
    margin-left: 50px;
}
.pop47{
    margin-top: 25px;
    margin-left: 50px;
}
.pop48{
    margin-top: 25px;
    margin-left: 50px;
    color: rgb(246, 233, 94);
}
.pop49{
    margin-top: 40px;
    margin-left: 50px;
}
.pop441{
    margin-left: 35px;
}
.pop5{
    margin-bottom: 60px;
}
.pop53{
    font-size: 24px;
}
.pop66{
    color: rgb(246, 216, 83);
}
.pop68{
    margin-top: 20px;
}
.pop7{
    font-size: 50px;
    margin-bottom: 50px;
}
.pop8{
    margin-bottom: 60px;
}
.pop9{
    margin-bottom: 60px;
}
.pop10{
    margin-bottom: 60px;
}

@media only screen and (max-width: 600px) {

}
